.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #98B4AA;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color: #495371;
}

.login {
  background-color: #98B4AA;
}

.footer-color{
  color: #495371;
}
.footer > a >i{
  color: #495371;
}

.jumbotron {
  /* padding:100px 30px 70px 30px; */
  margin:0px auto;
  height: 40vh;
  /* background: #9575CD ;
  color:floralwhite; */
  background:linear-gradient(rgba(8, 8, 8, 0.5), rgba(160, 153, 153, 0.5)), url('./images/jumbotron2.jpg') 50% no-repeat ;
  background-size: cover;
  /* background-color: #94618E; */
  color: #EEEEEE;

}

.btn {
  color: #495371;
}

.background {
  background-color: #D1D1D1;
}

address{
  font-size:80%;
  margin:0px;
  color: #495371;
}

.navbar-dark {
  background-color: #495371;
}

.title{
  font-weight:500 ;
  font-size: 1.5rem;
  
}